In [1]:
import pandas as pd
from scipy.interpolate import lagrange

In [2]:
input_file= '../data/missing_data.xls'
output_file = '../data/missing_data_processed.xls'
data = pd.read_excel(input_file, header=None)
data.head()

          0         1         2
0  235.8333  324.0343  478.3231
1  236.2708  325.6379  515.4564
2  238.0521  328.0897  517.0909
3  235.9063       NaN  514.8900
4  236.7604  268.8324       NaN

In [3]:
def ployinterp_column(s, n, k=5):
    y=s[list(range(n-k, n))+list(range(n+1, n+1+k))]
    y = y[y.notnull()]
    return lagrange(y.index, list(y))(n)

In [5]:
for i in data.columns:
    for j in range(len(data)):
        if (data[i].isnull())[j]:
            data[i][j] = ployinterp_column(data[i], j)
data.to_excel(output_file, header=None, index=False)

In [7]:
data = pd.read_excel(output_file, header=None)
data.head()

          0           1           2
0  235.8333  324.034300  478.323100
1  236.2708  325.637900  515.456400
2  238.0521  328.089700  517.090900
3  235.9063  203.462116  514.890000
4  236.7604  268.832400  493.352591